<table class="table display mb-4 dataTablesCard " id="example5">
    <thead>
        <tr>
            <th>
                <div class="checkbox me-0 align-self-center">
                    <div class="form-check custom-checkbox ">
                        <input type="checkbox" class="form-check-input" id="checkAll" required="">
                        <label class="form-check-label" for="checkAll"></label>
                    </div>
                </div>
            </th>
            <th style="text-align: center;">ID Reclam</th>
            <th style="text-align: center;">Titre</th>
            <th style="text-align: center;">Contexte</th>
            <th style="text-align: center;">Date</th>
            <th style="text-align: center;">Consulter</th>
            <th style="text-align: center;"></th>

        </tr>
    </thead>
    <tbody>
        {% for r in reclam %}
        <tr>
            <td>
                <div class="checkbox me-0 align-self-center">
                    <div class="form-check custom-checkbox ">
                        <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                        <label class="form-check-label" for="customCheckBox2"></label>
                    </div>
                </div>
            </td>
            <td style="text-align: center;"><span class="text-black font-w500">{{ r.reclamationId }}</span></td>
            <td style="text-align: center;"><span class="text-black text-nowrap">{{ r.reclamationTitre }}</span></td>
            <td style="text-align: center;"><span class="text-black text-nowrap">{{ r.reclamationSubject }}</span></td>
            <td style="text-align: center;"><span class="text-black fs-16 font-w600">{% if r.dateReclamation is defined %} {{ r.dateReclamation|date('Y-m-d') }} {% endif %}</span></td>
            <td style="text-align: center;"><span class="text-black fs-16 font-w600">{{ r.consulter }}</span></td>
            <td style="text-align: center;"><a href="{{ path('ajouterreponse', {'id': r.reclamationId}) }}" class="btn btn-rounded btn-primary me-3"  ><i class=""></i>repondre</a></td>
            <td>
                <div class="dropdown mb-auto">
                    <div class="btn-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M10 11.9999C10 13.1045 10.8954 13.9999 12 13.9999C13.1046 13.9999 14 13.1045 14 11.9999C14 10.8954 13.1046 9.99994 12 9.99994C10.8954 9.99994 10 10.8954 10 11.9999Z" fill="black"></path>
														<path d="M10 4.00006C10 5.10463 10.8954 6.00006 12 6.00006C13.1046 6.00006 14 5.10463 14 4.00006C14 2.89549 13.1046 2.00006 12 2.00006C10.8954 2.00006 10 2.89549 10 4.00006Z" fill="black"></path>
														<path d="M10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z" fill="black"></path>
													</svg>
												</div>

											</div>
										</td>
									</tr>
									{% endfor %}
									
								
								</tbody>
							</table>